## Portfolio Exercise: Starbucks
<br>

<img src="https://opj.ca/wp-content/uploads/2018/02/New-Starbucks-Logo-1200x969.jpg" width="200" height="200">
<br>
<br>
 
#### Background Information

The dataset you will be provided in this portfolio exercise was originally used as a take-home assignment provided by Starbucks for their job candidates. The data for this exercise consists of about 120,000 data points split in a 2:1 ratio among training and test files. In the experiment simulated by the data, an advertising promotion was tested to see if it would bring more customers to purchase a specific product priced at $10. Since it costs the company 0.15 to send out each promotion, it would be best to limit that promotion only to those that are most receptive to the promotion. Each data point includes one column indicating whether or not an individual was sent a promotion for the product, and one column indicating whether or not that individual eventually purchased that product. Each individual also has seven additional features associated with them, which are provided abstractly as V1-V7.

#### Optimization Strategy

Your task is to use the training data to understand what patterns in V1-V7 to indicate that a promotion should be provided to a user. Specifically, your goal is to maximize the following metrics:

* **Incremental Response Rate (IRR)** 

IRR depicts how many more customers purchased the product with the promotion, as compared to if they didn't receive the promotion. Mathematically, it's the ratio of the number of purchasers in the promotion group to the total number of customers in the purchasers group (_treatment_) minus the ratio of the number of purchasers in the non-promotional group to the total number of customers in the non-promotional group (_control_).

$$ IRR = \frac{purch_{treat}}{cust_{treat}} - \frac{purch_{ctrl}}{cust_{ctrl}} $$


* **Net Incremental Revenue (NIR)**

NIR depicts how much is made (or lost) by sending out the promotion. Mathematically, this is 10 times the total number of purchasers that received the promotion minus 0.15 times the number of promotions sent out, minus 10 times the number of purchasers who were not given the promotion.

$$ NIR = (10\cdot purch_{treat} - 0.15 \cdot cust_{treat}) - 10 \cdot purch_{ctrl}$$

For a full description of what Starbucks provides to candidates see the [instructions available here](https://drive.google.com/open?id=18klca9Sef1Rs6q8DW4l7o349r8B70qXM).

Below you can find the training data provided.  Explore the data and different optimization strategies.

#### How To Test Your Strategy?

When you feel like you have an optimization strategy, complete the `promotion_strategy` function to pass to the `test_results` function.  
From past data, we know there are four possible outomes:

Table of actual promotion vs. predicted promotion customers:  

<table>
<tr><th></th><th colspan = '2'>Actual</th></tr>
<tr><th>Predicted</th><th>Yes</th><th>No</th></tr>
<tr><th>Yes</th><td>I</td><td>II</td></tr>
<tr><th>No</th><td>III</td><td>IV</td></tr>
</table>

The metrics are only being compared for the individuals we predict should obtain the promotion â€“ that is, quadrants I and II.  Since the first set of individuals that receive the promotion (in the training set) receive it randomly, we can expect that quadrants I and II will have approximately equivalent participants.  

Comparing quadrant I to II then gives an idea of how well your promotion strategy will work in the future. 

Get started by reading in the data below.  See how each variable or combination of variables along with a promotion influences the chance of purchasing.  When you feel like you have a strategy for who should receive a promotion, test your strategy against the test dataset used in the final `test_results` function.

In [1]:
# load in packages
from itertools import combinations

from test_results import test_results, score
import numpy as np
import pandas as pd
import scipy as sp
import sklearn as sk

import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline



# load in the data
train_data = pd.read_csv('./training.csv')
train_data.head()

   ID Promotion  purchase  V1         V2        V3  V4  V5  V6  V7
0   1        No         0   2  30.443518 -1.165083   1   1   3   2
1   3        No         0   3  32.159350 -0.645617   2   3   2   2
2   4        No         0   2  30.431659  0.133583   1   1   4   2
3   5        No         0   0  26.588914 -0.212728   2   1   4   2
4   8       Yes         0   3  28.044332 -0.385883   1   1   2   2

In [2]:
#train_data['Promo'] = train_data.apply(lambda x: max(len(x['a']), len(x['b'])), axis=1)
#train_data.loc[train_data['Promotion'] == 'Yes', 'Promo'] ==1
train_data['Promo'] = train_data['Promotion'].apply(lambda x: 1 if x == 'Yes' else 0)

In [5]:
train_data.head()

   ID Promotion  purchase  V1         V2        V3  V4  V5  V6  V7  Promo
0   1        No         0   2  30.443518 -1.165083   1   1   3   2      0
1   3        No         0   3  32.159350 -0.645617   2   3   2   2      0
2   4        No         0   2  30.431659  0.133583   1   1   4   2      0
3   5        No         0   0  26.588914 -0.212728   2   1   4   2      0
4   8       Yes         0   3  28.044332 -0.385883   1   1   2   2      1

In [6]:
# Cells for you to work and document as necessary - 
# definitely feel free to add more cells as you need
train_data.describe()

,ID,purchase,V1,V2,V3,V4,V5,V6,V7,Promo
count,84534.000000,84534.000000,84534.000000,84534.000000,84534.000000,84534.000000,84534.000000,84534.000000,84534.000000,84534.000000
mean,62970.972413,0.012303,1.500662,29.973600,0.000190,1.679608,2.327643,2.502898,1.701694,0.501147
std,36418.440539,0.110234,0.868234,5.010626,1.000485,0.466630,0.841167,1.117349,0.457517,0.500002
min,1.000000,0.000000,0.000000,7.104007,-1.684550,1.000000,1.000000,1.000000,1.000000,0.000000
25%,31467.250000,0.000000,1.000000,26.591501,-0.905350,1.000000,2.000000,2.000000,1.000000,0.000000
50%,62827.500000,0.000000,2.000000,29.979744,-0.039572,2.000000,2.000000,3.000000,2.000000,1.000000
75%,94438.750000,0.000000,2.000000,33.344593,0.826206,2.000000,3.000000,4.000000,2.000000,1.000000
max,126184.000000,1.000000,3.000000,50.375913,1.691984,2.000000,4.000000,4.000000,2.000000,1.000000

In [13]:
train_data.groupby('Promotion').agg({'V1': ['min', 'max'],'V2': ['min', 'max'],'V3': ['min', 'max'],'V4': ['min', 'max'],'V5': ['min', 'max'],'V6': ['min', 'max'],'V7': ['min', 'max'], 'purchase': 'sum'})

           V1            V2                  V3            V4      V5      V6  \
          min max       min        max      min       max min max min max min
Promotion
No          0   3  8.939305  50.375913 -1.68455  1.691984   1   2   1   4   1
Yes         0   3  7.104007  49.823708 -1.68455  1.691984   1   2   1   4   1

               V7     purchase
          max min max      sum
Promotion
No          4   1   2      319
Yes         4   1   2      721

In [31]:
train_data.groupby('purchase').mean()

,ID,V1,V2,V3,V4,V5,V6,V7,Promo
purchase,,,,,,,,,
0,62942.917383,1.501138,29.974547,0.000905,1.677929,2.326910,2.50309,1.701751,0.498754
1,65223.305769,1.462500,29.897554,-0.057137,1.814423,2.386538,2.48750,1.697115,0.693269

In [36]:
train_data.groupby('purchase').Promo.sum()

purchase
0    41643
1      721
Name: Promo, dtype: int64

In [3]:
purchase_treat=train_data.loc[train_data['Promo'] == 1,'purchase'].sum()
customer_treat=train_data.loc[train_data['Promo'] == 1,'purchase'].count()
purchase_control= train_data.loc[train_data['Promo'] == 0,'purchase'].sum()
customer_control= train_data.loc[train_data['Promo'] == 0,'purchase'].count()
IRR=(purchase_treat/customer_treat-purchase_control/customer_control)
print(IRR)

0.00945454781977

In [4]:
train_data.loc[train_data['Promo'] == 1,'purchase'].sum()

721

In [56]:
train_data.loc[train_data['Promo'] == 1,'purchase'].count()

42364

In [59]:
train_data.loc[train_data['Promo'] == 0,'purchase'].sum()

319

In [60]:
train_data.loc[train_data['Promo'] == 0,'purchase'].count()

42170

In [4]:
NIR= (10*purchase_treat - 0.15*customer_treat)-10*purchase_control
print(NIR)

-2334.6

In [5]:
data=train_data.copy()
data=data[data['Promotion']=='Yes']
data.drop(['ID','Promotion'], axis=1,inplace=True)

In [6]:
data.head()

    purchase  V1         V2        V3  V4  V5  V6  V7  Promo
4          0   3  28.044332 -0.385883   1   1   2   2      1
8          0   2  31.930423  0.393317   2   3   1   2      1
10         0   1  32.770916 -1.511395   2   1   4   1      1
12         0   1  36.957009  0.133583   2   3   1   1      1
14         0   3  36.911714 -0.905350   2   2   4   1      1

In [26]:
data.purchase[data.purchase==1].count()

721

In [27]:
data.purchase[data.purchase==0].count()

41643

In [7]:
 import random  
    
data_purchase_0 = data.loc[random.sample(set(data.purchase[data.purchase == 0].index), 721)]
data_purchase_1 = data.loc[random.sample(set(data.purchase[data.purchase == 1].index), 721)]
data_balanced = pd.concat([data_purchase_1, data_purchase_0])

In [8]:
data_balanced.head()

       purchase  V1         V2        V3  V4  V5  V6  V7  Promo
81188         1   1  29.335677  1.345672   2   2   4   2      1
15189         1   1  31.613357  0.133583   2   1   2   1      1
83239         1   1  34.046649 -0.818772   1   1   1   1      1
51885         1   1  23.759391  0.826206   2   4   1   2      1
45054         1   2  27.147379 -1.684550   2   2   3   1      1

In [11]:
data_balanced.purchase[data_balanced.purchase==1].count()

721

In [12]:
data_balanced.purchase[data_balanced.purchase==0].count()

721

In [9]:
data=data_balanced.copy()

In [18]:
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
#from sklearn.ensemble import RandomForestClassifier


X =  data[['V1','V2','V3','V4','V5','V6','V7']]

min_max_scaler = preprocessing.MinMaxScaler()
scaler=min_max_scaler.fit(X)
X= scaler.transform(X)

y = data[['purchase']].values.reshape(-1)

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.33, random_state=42)

In [19]:
from sklearn import svm, metrics

clf = svm.SVC()
clf.fit(X_train, y_train)
y_pred =clf.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

0.63025210084

In [21]:

from sklearn.ensemble import AdaBoostClassifier
from sklearn import svm, metrics


clf1 = AdaBoostClassifier(learning_rate=0.01,n_estimators=200)
clf1.fit(X_train, y_train)
y_pred =clf1.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

0.642857142857

In [22]:
def promotion_strategy(df):
    from sklearn.ensemble import AdaBoostClassifier
    from sklearn.model_selection import train_test_split 
    from sklearn.preprocessing import MinMaxScaler
    
    '''
    INPUT 
    df - a dataframe with *only* the columns V1 - V7 (same as train_data)

    OUTPUT
    promotion_df - np.array with the values
                   'Yes' or 'No' related to whether or not an 
                   individual should recieve a promotion 
                   should be the length of df.shape[0]
                
    Ex:
    INPUT: df
    
    V1	V2	  V3	V4	V5	V6	V7
    2	30	-1.1	1	1	3	2
    3	32	-0.6	2	3	2	2
    2	30	0.13	1	1	4	2
    
    OUTPUT: promotion
    
    array(['Yes', 'Yes', 'No'])
    indicating the first two users would recieve the promotion and 
    the last should not.
    
    '''
    
    #min_max_scaler = MinMaxScaler()
    X =  df[['V1','V2','V3','V4','V5','V6','V7']]
    X=scaler.transform(X)

    purchases=clf1.predict(X)
    #y = df[['purchase']]
    #X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state=42)
    
    
    #model = AdaBoostClassifier(learning_rate=0.01, n_estimators=200)
    #model.fit(X_train, y_train)
    #purchases = model.predict(X_test)
    promotion = np.where(purchases==1, 'Yes', 'No')
  
    
    return promotion

In [23]:
# This will test your results, and provide you back some information 
# on how well your promotion_strategy will work in practice

test_results(promotion_strategy)

Nice job!  See how well your strategy worked on our test data below!

Your irr with this strategy is 0.0142.

Your nir with this strategy is -114.10.
We came up with a model with an irr of 0.0188 and an nir of 189.45 on the test set.

 How did you do?

(0.014173022460702841, -114.09999999999991)